/* @/views/styles/Header.module.css */
.toolbarTopMost {
    display: flex;
    justify-content: space-around;
    background-color: rgb(31, 49, 137);
	box-shadow: 0 0 1px 0 rgba(50, 50, 50, 1);
}
/* for </Box> in <Link> */
.navLinkContainer {
    padding: 5px 16px;
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #000000;
}
.navLinkContainerUnselected{
    padding: 5px 16px;
    color: #ffffff;
}
.navLinkContainer:hover,
.navLinkContainerUnselected:hover {
    background-color: #fcfcfc;
    border-radius: 20px;
    color: #505050;
}
/* styles for responsive design */
@media screen and (max-width: 768px) {
    .toolbarTopMost {
      flex-direction: column; 
      align-items: center; 
    } 
    .navLinkContainer,
    .navLinkContainerUnselected {
      padding: 2px 12px;
      border-radius: 15px;
    }
}  